---
title: "Teacher Identity Verification"
url: "https://support.outschool.com/en/articles/4705479-teacher-identity-verification"
date: "2026-07-27"
feed_url: "https://support.outschool.com/feed.xml"
---
How Outschool verifies the Identity of teachers on the platform
